<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">HashMash</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-0">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Masher
            </NavLink>
        </li>
        <li class="nav-item px-0">
            <NavLink class="nav-link" href="whatishashing" Match="NavLinkMatch.All">
                What is Hashing?
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="char-offset" Match="NavLinkMatch.All">
                <span style="padding-right:5px">&#8226;</span> Character Offset
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bit-shifting" Match="NavLinkMatch.All">
                <span style="padding-right:5px">&#8226;</span> Bit Shifting
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="modular-arithmetic" Match="NavLinkMatch.All">
                <span style="padding-right:5px">&#8226;</span> Modular Arithmetic
            </NavLink>
        </li>
        <li class="nav-item px-0">
            <NavLink class="nav-link" href="representing-letters" Match="NavLinkMatch.All">
                Representing Letters
            </NavLink>
        </li>

        <li class="nav-item px-0">
            <NavLink class="nav-link" href="representing-numbers" Match="NavLinkMatch.All">
                Representing Numbers
            </NavLink>
        </li>

        <li class="nav-item px-0">
            <NavLink class="nav-link" href="real-world-hashing" Match="NavLinkMatch.All">
                Real World Hash Functions
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
