@page "/"
@using System.Security.Cryptography
@using System.Text
@using System.IO

@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage


<div class="container">

    @if (!continued)
    {
        // Welcome page area. 
        <div class="row text-center">
            <h2>Welcome to HashMash!</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <p>
                    HashMash is an interactive, informative program designed to educate users on the process of how their online information in plain text is converted into a more secure form of data that helps protect their privacy. HashMash is intended for the general audience with no computer science background and who are interested in the basics of how some information (such as website passwords) are stored through Hashing.
                </p>
                <p>
                    Before using the HashMasher, remember that the hashes are for educational purposes only and are not secure enough for actual use. Please follow safe internet practices and only use the standard, well-examined and trusted methods for Hashing Algorithms. Never input your existing passwords into unknown sites... including this one.
                </p>

                <p>
                    You will be given the opportunity to input a random string of text then manipulate a set of extremely simple functions to help visualize how hash functions work, at a low level.
                </p>
                <img src="images/hashmashhowto.png"/>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-sm">
                <button type="button" @onclick="@(e => sessionStorage.SetItem<bool>("dismissed", true))" class="btn btn-primary">Continue</button>
            </div>
        </div>
    }
    else
    {
        <Masher></Masher>
    }

</div>



@code {

    // Flag to show the welcome page or not - default is false (show alert)
    bool continued => true ? sessionStorage.GetItem<bool>("dismissed") : false;

}