@page "/"
@using System.Security.Cryptography
@using System.Text
@using System.IO

<div class="container-fluid justify-content-center text-center">

    <h2>HashMash!</h2>
    <p>Input something and start clicking</p>

    <Masher></Masher>
    

</div>

@code {



}