@page "/"

<div class="container justify-content-center text-center">

    <div id="hash-input-row" class="container-widget mx-auto">
        
            <input id="hash-input" @oninput="(EventArgs) => {InputChanged(EventArgs.Value.ToString());}" type="text" placeholder="Type something..." onfocus="this.placeholder=''" maxlength="20" />
        
    </div>
    <hr />
    <div class="row">

        <div class="col-sm-4">
            <div class="container-widget">
                <h3>Mode Selection</h3>
                
                <hr />
                <label for="algorithm-select" style="display:block">Hash Algorithm</label>

            
                <div id="algorithm-select" class="btn-group mx-auto" role="group" aria-label="Basic checkbox toggle button group">

                    <input @oninput="(EventArgs) => { ToggleAlgSelection(0); }" type="checkbox" class="btn-check" id="sha1" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="sha1">SHA1</label>

                    <input @oninput="(EventArgs) => { ToggleAlgSelection(1); }" type="checkbox" class="btn-check" id="sha256" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="sha256">SHA256</label>

                    <input @oninput="(EventArgs) => { ToggleAlgSelection(2); }" type="checkbox" class="btn-check" id="sha512" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="sha512">SHA512</label>

                </div>
         
            </div>
        </div>
        <div class="col-sm-8">
            @if (algSelection[0])
            {
                <div class="container-widget">
                    <h5>SHA1</h5>
                    <hr />
                    <p>@hashed0</p>
                </div>
            }
            @if (algSelection[1])
            {
                <div class="container-widget">
                    <h5>SHA256</h5>
                    <hr />
                    <p>@hashed1</p>
                </div>
            }
            @if (algSelection[2])
            {
                <div class="container-widget">
                    <h5>SHA512</h5>
                    <hr />
                    <p>@hashed2</p>
                </div>
            }

        </div>


    </div>

</div>

@code {

    private bool[] algSelection = { false, false, false };
    private string password = "";
    //private Hasher hasher = new Hasher();
    private string hashed0 = "";
    private string hashed1 = "";
    private string hashed2 = "";

    public void InputChanged(string value)
    {
        this.password = value;
        //this.hashed0 = hasher.HashPassword(value, 0);
        //this.hashed1 = hasher.HashPassword(value, 1);
        //this.hashed2 = hasher.HashPassword(value, 2);
    }

    public void ToggleAlgSelection(int index)
    {
        algSelection[index] = !algSelection[index];
    }




}