@page "/"
@using System.Security.Cryptography
@using System.Text
@using System.IO

@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage


<div class="container">

    @if (!continued)
    {
        <div class="row text-center">
            <h2>Welcome to HashMash!</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <p>
                    Give quick blurb on what it is, the intent, and how to use...
                </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <p>
                    Before playing with the Masher remember that it is for educational purposes only. Follow safe internet practices. Never input your actual passwords into unknown sites... including this one.
                </p>
            </div>
        </div>


        <div class="row text-center">
            <div class="col-sm">
                <button type="button" @onclick="@(e => sessionStorage.SetItem<bool>("dismissed", true))" class="btn btn-primary">Continue</button>
            </div>
        </div>
    }
    else
    {
        <Masher></Masher>
    }

</div>



@code {

    // Flag to show the welcome page or not - default is false (show alert)
    bool continued => true ? sessionStorage.GetItem<bool>("dismissed") : false;

}