@page "/"
@using System.Security.Cryptography
@using System.Text
@using System.IO

<div class="container text-center">

    <h2>HashMash</h2>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Welcome!</strong> Before playing with the Masher remember that it is for educational purposes only and follow safe internet practices. Never input your actual passwords into unknown sites... including this one.
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>

    <Masher></Masher>

</div>

@code {
   

}