@page "/modular-arithmetic"

<div class="container">
    <h3>Modular Arithmetic</h3>

    <p>
        Modular Arithmetic is an area of mathematics that is helpful to programmers when writing code. In essence, the modulo operator allows a person to evaluate the remainder of the division of two numbers. In principle, given a constant denominator when dividing values there is a fixed number of different remainders that are repeated in a cycle.
    </p>

    <p>
        A practical application of Modulo Arithmetic that can be seen in everyday use is a clock. A clock a cycle of remainder of 12. If you imagine the denominator as 12 and each hour of the day numerator, the remainder will be equal to the hour of day.
    </p>

    <div class="row justify-content-center">
        <img src="images/clock.gif" style="height:25%;width:25%" />
    </div>

    <hr />

    <h6>Sources</h6>
    <div class="col-lg">
        <ul>
            <li>
                Clock picture - <a href="http://jwilson.coe.uga.edu/EMAT6680Fa11/Santarone/Essay1/E1DSmod.html">http://jwilson.coe.uga.edu/EMAT6680Fa11/Santarone/Essay1/E1DSmod.html</a>
            </li>
            <li>
                <a href="https://www.khanacademy.org/computing/computer-science/cryptography/modarithmetic/a/what-is-modular-arithmetic">https://www.khanacademy.org/computing/computer-science/cryptography/modarithmetic/a/what-is-modular-arithmetic</a>
            </li>
            <li>
                <a href="https://brilliant.org/wiki/modular-arithmetic/">
                    https://brilliant.org/wiki/modular-arithmetic/
                </a>
            </li>
        </ul> 
    </div>

</div>
@code {

}
