@page "/real-world-hashing"

<div class="container">
    <h3>Real World Hashing</h3>

    <p>
        Again, this litle tool is not going to create a string hash function whatsoever. We only wish to show some simple operations that a real hash function would propbaby not even apply. The intention is to skew a 
        peice of text enough that an attacker cannot uncover said text. Real, working are one-way and rely on deception, something HashMash is not able to to.
    </p>

    <hr />

    <h5>SHA 256</h5>

    <p>
        Originally developed by the United States National Security Agency (NSA). 
        SHA-256 which stands for Secure Hash Algorithm, is a Cryptographic Hash Algorithm. 
        Specifically, SHA-256 was created in the second generation of Secure Hashing Algorithms, SHA-2, after SHA-1 was compromised. 
        SHA-256 has yet to be compromised and has been widely accepted by the public as a trusted Hashing Algorithm.
    </p>

    <p>
        There are a few variants of SHA-2, the difference between them being the constant size of the output. 
        In particular, SHA-256 is a hashing Algorithm that outputs a hash with a fixed length of 256 bits.
    </p>

    <hr />

    <h6>Sources</h6>

    <div col="col-lg">
        <ul>
            <li>
                <a href="https://www.movable-type.co.uk/scripts/sha256.html">
                    https://www.movable-type.co.uk/scripts/sha256.html
                </a>
            </li>
            <li>
                <a href="https://qvault.io/cryptography/how-sha-2-works-step-by-step-sha-256/">
                    https://qvault.io/cryptography/how-sha-2-works-step-by-step-sha-256/
                </a>
            </li>
            <li>
                <a href="https://en.wikipedia.org/wiki/SHA-2">
                    https://en.wikipedia.org/wiki/SHA-2
                </a>
            </li>
        </ul>
    </div>

</div>

@code {

}
