@page "/representing-numbers"

<div class="container">
    <h3>Representing Numbers</h3>

    <h5>Binary</h5>
    <p>
        Binary can have multiple meanings but in the context of HashMash, Binary refers to the Base-2 Numeral System invented by Gottfried Leibniz, also known as Binary Code. Binary code is the iconic numbering system, consisting entirely of 0s and 1s that computer processors use to operate.
    </p>

    <p>
        Computers use the Binary numeral system instead of the decimal system (Base-10) because Binary is relatively more convenient when storing information. The smallest unit that can store information in a computer system is a Bit, which can be considered “on” (1) or “off” (0). A group of 8 bits is called a Byte and a single byte can store up to one character.
    </p>

    <p>
        In the relation to ASCII Binary Code, the original decimal values from 0 to 127 used to represent ASCII characters were each translated into a unique 7-bit Binary Code that all computers use to function. Shown below is a gif that illustrates an example Binary counting from 0 to 31.
    </p>

    <div class="row justify-content-center">

        <img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Binary_counter.gif" style="height:25%;width:25%;" />

    </div>

    <h5>Hexadecimal</h5>
    <p>
        Similar to Binary, Hexadecimal is a Numeral System but is of Base-16 (Hex) instead of Base-2.
        The values in Hexadecimal consists of values from 0 to 9 then A to F, where the values A to F replace the decimal values of 10 to 15.
    </p>
    <p>
        In reference to computers, Hexadecimal is tend to use to reduce large strings in Binary numbers. As shown below is a figure illustration representation of the decimal values from 0 to 15 in relation to Binary and Hexadecimal Code.
    </p>

    <div class="row justify-content-center">

        <img src="images/number-chart.png" style="height:25%;width:25%;" />

    </div>


    <h5>Decimal</h5>
    <p>
        Decimal in reference to HashMash, is the Decimal Numeral System of base-10. Decimal is the standard numbering system used in general society consisting of values from 0 to 9. Decimal counting is how a person would typically count.
    </p>

    <hr />

    <h6>Sources</h6>
    <div class="col-lg">
        <ul>
            <li>
                Binary gif - <a href="https://commons.wikimedia.org/wiki/File:Binary_counter.gif">https://commons.wikimedia.org/wiki/File:Binary_counter.gif</a>
            </li>
            <li>
                Number chart - <a href="https://karlmatthes.medium.com/converting-to-and-from-hexadecimal-c261a33ec85a">https://karlmatthes.medium.com/converting-to-and-from-hexadecimal-c261a33ec85a</a>
            </li>
            <li>
                <a href="https://www.computerhope.com/jargon/b/binary.htm">
                    https://www.computerhope.com/jargon/b/binary.htm
                </a>
            </li>
            <li>
                <a href="https://web.stanford.edu/class/cs101/bits-bytes.html">
                    https://web.stanford.edu/class/cs101/bits-bytes.html
                </a>
            </li>
            <li>
                <a href="https://turbofuture.com/computers/Why-is-Binary-Used-in-Computers">
                    https://turbofuture.com/computers/Why-is-Binary-Used-in-Computers
                </a>
            </li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Bit">
                    https://en.wikipedia.org/wiki/Bit
                </a>
            </li>
            <li>
                <a href="https://www.electronics-tutorials.ws/binary/bin_3.html">
                    https://www.electronics-tutorials.ws/binary/bin_3.html
                </a>
            </li>
            <li>
                <a href="https://www.mathsisfun.com/hexadecimals.html">
                    https://www.mathsisfun.com/hexadecimals.html
                </a>
            </li>
            <li>
                <a href="https://karlmatthes.medium.com/converting-to-and-from-hexadecimal-c261a33ec85a">
                    https://karlmatthes.medium.com/converting-to-and-from-hexadecimal-c261a33ec85a
                </a>
            </li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Decimal">
                    https://en.wikipedia.org/wiki/Decimal
                </a>
            </li>
        </ul>
    </div>


</div>

@code {

}
