@page "/representing-numbers"

<div class="container">
    <h3>Representing Numbers</h3>

    <h5>Binary</h5>
    <p>
        The term "binary" can have multiple meanings, but in the context of HashMash, Binary refers to the Base-2 Numeral System invented by Gottfried Leibniz, also known as Binary Code. 
        Binary code is a numbering system which uses only the digits 0 and 1, which computer processors use to operate and do arithmetic.
        Where decimal numbers use ten digits (0-9), and add a new digit each time they run into a power of 10, binary numbers use only two digits (1 and 0), and add a new digit to the number each time they run into a power of 2.
    </p>

    <p>
        Computers use the Binary numeral system instead of the decimal system (Base-10) because Binary is relatively more convenient when storing information. 
        The smallest unit that can store information in a computer system is a Bit, which can be considered “on” (1) or “off” (0).
        This is convenient for computers, because they store information as electronic signals, which can only be either on or off.
        A group of 8 bits is called a Byte, and a single byte can store up to one character of human-readable text (like a letter, or a punctuation mark).
    </p>

    <p>
        In regards to ASCII Binary Code, the decimal numbers 0 to 127, which were used to represent ASCII characters, were each translated into a unique 7-bit Binary Code so that computers would be able to work with them. 
        Shown below is a gif that illustrates an example Binary counting from 0 to 31.
    </p>

    <div class="row justify-content-center">

        <img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Binary_counter.gif" style="height:25%;width:25%;" />

    </div>

    <h5>Hexadecimal</h5>
    <p>
        Similar to Binary, Hexadecimal is a Numeral System but is of Base-16 (Hex) instead of Base-2.
        The values in Hexadecimal consists of values from 0 to 9 then A to F, where the values A to F replace the decimal values of 10 to 15.
        Hexadecimal is used widely by programmers as each character in hexadecimal is exactly equivalent to 4 binary bits. 
        This means that a byte, which takes 8 binary digits (or "bits") to write down in binary, takes just two digits to write in hexadecimal.
    </p>
    <p>
        Hexadecimal tends to be used to shorten large strings of binary into smaller, more readable strings. As shown below is a figure illustration representation of the decimal values from 0 to 15 in relation to Binary and Hexadecimal Code.
    </p>

    <div class="row justify-content-center">

        <img src="images/number-chart.png" style="height:25%;width:25%;" />

    </div>


    <h5>Decimal</h5>
    <p>
        Decimal is simply the Numeral System of base 10. Decimal is the standard numbering system used by most of the world which consists of numbers with digits from 0 to 9. Decimal counting is how a person would typically count.
    </p>

    <hr />

    <h6>Sources</h6>
    <div class="col-lg">
        <ul>
            <li>
                Binary gif - <a href="https://commons.wikimedia.org/wiki/File:Binary_counter.gif">https://commons.wikimedia.org/wiki/File:Binary_counter.gif</a>
            </li>
            <li>
                Number chart - <a href="https://karlmatthes.medium.com/converting-to-and-from-hexadecimal-c261a33ec85a">https://karlmatthes.medium.com/converting-to-and-from-hexadecimal-c261a33ec85a</a>
            </li>
            <li>
                <a href="https://www.computerhope.com/jargon/b/binary.htm">
                    https://www.computerhope.com/jargon/b/binary.htm
                </a>
            </li>
            <li>
                <a href="https://web.stanford.edu/class/cs101/bits-bytes.html">
                    https://web.stanford.edu/class/cs101/bits-bytes.html
                </a>
            </li>
            <li>
                <a href="https://turbofuture.com/computers/Why-is-Binary-Used-in-Computers">
                    https://turbofuture.com/computers/Why-is-Binary-Used-in-Computers
                </a>
            </li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Bit">
                    https://en.wikipedia.org/wiki/Bit
                </a>
            </li>
            <li>
                <a href="https://www.electronics-tutorials.ws/binary/bin_3.html">
                    https://www.electronics-tutorials.ws/binary/bin_3.html
                </a>
            </li>
            <li>
                <a href="https://www.mathsisfun.com/hexadecimals.html">
                    https://www.mathsisfun.com/hexadecimals.html
                </a>
            </li>
            <li>
                <a href="https://karlmatthes.medium.com/converting-to-and-from-hexadecimal-c261a33ec85a">
                    https://karlmatthes.medium.com/converting-to-and-from-hexadecimal-c261a33ec85a
                </a>
            </li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Decimal">
                    https://en.wikipedia.org/wiki/Decimal
                </a>
            </li>
        </ul>
    </div>


</div>

@code {

}
