@page "/representing-letters"

<div class="container">
    <h3>How does a computer recognize letters? - ASCII</h3>

    <p>
        ASCII is the abbreviation for <b>A</b>merican <b>S</b>tandard <b>C</b>ode for <b>I</b>nformation <b>I</b>nterchange and was originally created in 1963 as a Telegraph code. 
        ASCII works by assigning 180 unique characters to a different decimal number value to form a character set. 
        The ASCII character set consists of unique characters ranging from numeric values (0-9), upper and lower case letters, some special characters, and control codes.
        When working with international characters, such as characters in other languages like Japanese, or special characters like emoji, a different standard called UTF-8 is used, but
        it works in much the same way that ASCII does. In fact, ASCII's representation of the characters it encodes is still used in UTF-8, so ASCII is sort of a part of UTF-8.'
    </p>

    <p>
        The ASCII code was later updated so that the 180 unique characters could also be assigned to other numeric systems such as Binary, Octal-Decimal, and Hexadecimal code. 
        Specifically, ASCII Binary Code allowed for a standard character set that computers could use to communicate with each other. 
        Shown in the figure below is an ASCII Table that illustrates the assignment of all 128 characters to their respective numeric systems.
    </p>

    <div class="row justify-content-center">
        <img src="images/ascii_table_lge.png" style="height:60%;width:60%" />
    </div>

    <hr />

    <h6>Sources</h6>
    <div class="col-lg">
        <ul>
            <li>
                ASCII Table - <a href="https://bournetocode.com/projects/GCSE_Computing_Fundamentals/pages/3-3-5-ascii.html">https://bournetocode.com/projects/GCSE_Computing_Fundamentals/pages/3-3-5-ascii.html</a>
            </li>
            <li>
                <a href="http://cactus.io/tutorials/web/what-is-an-ascii-code">
                    http://cactus.io/tutorials/web/what-is-an-ascii-code
                </a>
            </li>
            <li>
                <a href="https://www.prepressure.com/library/technology/ascii-binary-hex">
                    https://www.prepressure.com/library/technology/ascii-binary-hex
                </a>
            </li>
            <li>
                <a href="https://www.w3schools.com/charsets/ref_html_ascii.asp">
                    https://www.w3schools.com/charsets/ref_html_ascii.asp
                </a>
            </li>
            <li>
                <a href="https://bournetocode.com/projects/GCSE_Computing_Fundamentals/pages/3-3-5-ascii.html">
                    https://bournetocode.com/projects/GCSE_Computing_Fundamentals/pages/3-3-5-ascii.html
                </a>
            </li>
        </ul>
    </div>

</div>


@code {

}
