@page "/whatishashing"

<h3>What is Hashing?</h3>
<img src="~/images/ascii_table_lge.png" height="50%" width="50%"/>

<img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Binary_counter.gif" /> 

@code {

}
